<div class="header gray">
  FIT
</div>

<div class="content">
  <a href="/workout">
    <div class="big-button red">
      <i class="fas fa-dumbbell"></i> Workout
    </div>
  </a>

  <a href="/measure">
    <div class="big-button green">
      <i class="fas fa-weight"></i> Measure
    </div>
  </a>

  <a href="/progress">
    <div class="big-button yellow">
      <i class="fas fa-chart-line"></i> Progress
    </div>
  </a>

  <a href="/manage">
    <div class="big-button light-gray">
      <i class="fas fa-edit"></i> Manage
    </div>
  </a>
</div>