<!doctype html>
<html lang="en-US">
<head>
  <title>Fit</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <script src="/javascripts/jquery-2.1.4.js"></script>
  <script src="/javascripts/script.js"></script>
</head>
<body>
  <%== yield %>
  <div class="footer gray">
    <% if !!session[:username]  %>
    <a href="/logout">Logged in as <%= session[:username] %>. Click here to log out.</a>
    <% else  %>
    <a href="/login">Logged out. click here to log in.</a>
    <% end %>
  </div>
</body>