<a href="/home">
  <div class="header manage">
    <h1><i class="fas fa-edit"></i> Manage</h1>
  </div>
</a>

<div class="content">
  <table class="manages container">
    <tr>
      <th class="w-15">Active</th>
      <th class="w-55">Workout</th>
      <th class="w-15">Public</th>
      <th class="w-15"></th>
    </tr>
    <tr>
      <form action="/workout/add" method="post" >
        <td class="w-15"><input name="day" class="workout-form" type="checkbox" /></td>
        <td class="w-55"><input name="day" class="workout-form full-width" type="text" /></td>
        <td class="w-15"><input name="day" class="workout-form" type="checkbox" /></td>
        <td class="action add w-15">
          <button type="submit">
            <i class="fas fa-plus-circle"></i>
          </button>
        </td>
      </form>
    </tr>
    <% @workouts.each do |workout| %>
    <tr>
      <td class="w-15 action gray"><i class="<%= active_workout(workout[:public]) %>"></i></td>
      <td class="w-55"><%= workout[:name] %></td>
      <td class="w-15 action gray"><i class="<%= public_workout(workout[:public]) %>"></i></td>
      <td class="w-15 action"><i class="fas fa-edit"></i></td>
    </tr>
    <% end %>
  </table>
</div>