<a href="/">
  <div class="header light-gray">
    <i class="fas fa-edit"></i> Manage
  </div>
</a>

<div class="content">
  <table class="manage">
    <tr>
      <th class="left">Workouts</th>
      <th></th>
    </tr>
    <form action="/manage/add" method="post" >
      <tr>
        <td><input name="workout_name" type="text" placeholder=" New Workout Name" /></td>
        <td class="right">
          <button type="submit">
            <a class="dark" href=""><i class="fas fa-plus-circle"></i></a>
          </button>
        </td>
      </tr>
    </form>
    <% @workouts.each do |workout| %>
    <tr>
      <td class="left">
        <a class="dark" href="/manage/<%= workout[:id] %>/edit"><i class="fas fa-<%= active?(workout[:active]) %>square"></i> <%= workout[:name] %></a>
      </td>
      <td class="right light">
        <form action="/manage/<%= workout[:id] %>/delete" method="post" class="delete">
          <button type="submit" class="light">
            <i class="fas fa-trash"></i>
          </button>
        </form>
      </td>
    </tr>
    <% end %>
  </table>
</div>