* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

div.header, div.footer {
  width: 100%;
  position: fixed;
  text-align: center;
}

div.footer a {
  color: #ffffff;
}

div.header, div.big-button {
  line-height: 75px;
  height: 75px;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
}

div.header {
  top: 0px;
}

div.big-button {
  margin-bottom: 15px;
  border-radius: 50px;
}

div.footer {
  bottom: 0px;
  height: 30px;
  line-height: 30px;
}

div.content {
  width: 100%;
  padding: 90px 15px 40px 15px;
}

.gray {
  background-color: #333333;
  color: #ffffff;
}

.red, .green, .yellow, .light-gray, .content {
  color: #333333;
}

.red {
  background-color: #e8664f;
}

.green {
  background-color: #88b3ab;
}

.yellow {
  background-color: #e8c992;
}

.light-gray {
  background-color: #bfbfbb;
}

table, th, td, table i, table button {
  vertical-align: middle;
  background-color: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table.body tr,
table.workouts tr,
table.workout tr,
table.workout-log tr,
table.manage tr,
table.manage-exercise tr,
table.manage-exercise-list tr,
table.progress tr,
table.progress-exercise tr {
  border-bottom: 1px solid #bfbfbb;
}

table.body th, table.body td {
  width: 30%;
  text-align: center;
}

table.body th:nth-child(4), table.body td:nth-child(4) {
  width: 10%;
}

table i,
h2 i {
  font-size: 25px;
  margin: auto;
}

button {
  border: 0px;
  background-color: #ffffff;
}

table input {
  width: 90%;
  border: 1px solid #bfbfbb;
  height: 25px;
  vertical-align: middle;
}

table.manage input {
  width: 100%;
}

table.workouts th, table.workouts td, 
table.body th, table.body td,
table.workout th, table.workout td,
table.workout-log th, table.workout-log td,
table.manage th, table.manage td,
table.manage-exercise th, table.manage-exercise td,
table.manage-exercise-list th, table.manage-exercise-list td {
  line-height: 40px;
}

table.workouts th:nth-child(2), table.workouts td:nth-child(2) {
  width: 40%;
}

table.workout td,
table.workout-log td,
table.workout th,
table.workout-log th {
  width: 15%;
  text-align: center;
}

table.workout td:nth-child(5),
table.workout-log td:nth-child(4),
table.workout th:nth-child(5),
table.workout-log th:nth-child(4) {
  width: 10%;
  text-align: right;
}

table.workout td:nth-child(1),
table.workout th:nth-child(1) {
  width: 50%;
  text-align: left;
}

table.workout td:nth-child(2),
table.workout th:nth-child(2) {
  width: 10%;
  text-align: center;
}

table.workout-log td:nth-child(1),
table.workout-log th:nth-child(1) {
  width: 60%;
  text-align: left;
}

table.manage td:nth-child(2),
table.manage th:nth-child(2) {
  width: 10%;
  text-decoration: right;
}

table.manage-exercise,
table.manage-exercise-list {
  text-align: center;
}

table.manage-exercise td,
table.manage-exercise th,
table.manage-exercise tr:nth-child(3) td:nth-child(2),
table.manage-exercise-list td,
table.manage-exercise-list th {
  width: 10%;
}

table.manage-exercise td:nth-child(2) {
  width: 50%;
}

table.manage-exercise tr:nth-child(3) td:nth-child(1),
table.manage-exercise th:nth-child(1),
table.manage-exercise-list td:nth-child(1),
table.manage-exercise-list th:nth-child(1) {
  width: 60%;
}

table.manage-exercise tr:nth-child(3) td:nth-child(1) input {
  width: 100%;
}

table.manage-exercise input {
  width: 90%;
}

table.progress,
table.progress-exercise {
  text-align: center;
  visibility: collapse;
}

table.progress tr,
table.progress-exercise tr {
  line-height: 30px;
}

table.progress td:nth-child(2),
table.progress td:nth-child(3),
table.progress-exercise td:nth-child(3),
table.progress-exercise td:nth-child(4) {
  width: 10%;
}

table.progress-exercise td:nth-child(2) {
  width: 30%;
}

table.progress td:nth-child(1),
table.progress th:nth-child(1),
table.progress-exercise td:nth-child(1),
table.progress-exercise th:nth-child(1) {
  text-align: left;
}

table.progress-menu {
  font-size: 20px;
  line-height: 40px;
}

table.login input {
  width: 100%;
}

table.login tr {
  height: 40px;
}

table.login td:first-child {
  text-align: right;
  padding-right: 5px;
  width: 80px;
}

table.login tr:nth-child(3) td {
  text-align: center;
}

table.login button {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  margin-top: 10px;
}

div.login-warning {
  width: 100%;
  text-align: center;
}

.light {
  color: #bfbfbb;
}

.dark {
  color: #333333;
}

.red-text {
  color: #e8664f;
}

.yellow-text {
  color: #e8c992;
}

.light-text {
  color: #bfbfbb;
}

.dark-text {
  color: #333333;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}
